<%# app/views/queries/index.html.erb %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Query Page</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bodyStyle">
  <div id="header" class="mainHeader">
    <hr>
    <div class="center"><h1>Example Social Research Organization</h1></div>
  </div>
  <br>
  <hr>
  <div class="center"><h2>Country Data Query Page</h2></div>
  <br>
  <h2><%= link_to "Home", "/country_data_finals" %></h2>
  
  <h2>Please select which query you want to run.</h2>
  
  <!-- Form with data-turbo="false" to prevent Turbo from handling the submission -->
  <form action="/queries/results" method="post" data-turbo="false">
    <!-- CSRF token for Rails security -->
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <select name="selection">
      <option value="">Select...</option>     
      <option value="Q1">Mobile phones</option>  
      <option value="Q2">Population</option>
      <option value="Q3">Life Expectancy</option>
      <option value="Q4">GDP</option>
      <option value="Q5">Childhood Mortality</option>
    </select>
    
    <input type="submit" value="Submit">
  </form>

  <br>
  <div id="Copyright" class="center">
    <h5>&copy; 2020, Amazon Web Services, Inc. or its Affiliates. All rights reserved.</h5>
  </div>
</body>
</html>